body {
    font-family: Tahoma, Verdana, Arial, lucida, sans-serif;
    font-size: small;
    text-align: center;
    line-height: 1.4;
    display: block;
    background-color: lightblue;
}



header{
    margin: 0 0 5px 0;
    height: 270px;
    background: url(aa.jpg) no-repeat;
    background-color: white;
    background-position: center;
}

/*---------------------------*/

/*-----------------------*/

#nav ul {
    width: 100%;
    list-style-type: none;
}

#nav li {
    /*background-color: brown;
    margin: 0 0 10px 0;*/

}

#nav li:hover{
    background-color: blue;
    color: black;
}


#nav h2 {
    font-size: 130%;
    font-weight: normal;
    padding: 10px 0;
}
/*-------------------------*/

footer{
    height: 120px;
}


/*------------------------------*/

#content {
    text-align: left;
    margin-left: 50px;
    width: 650px;
    float: right;
    display: inline;
}


#nav {
    margin-top: 40px;
    padding: 14px 16px;
    font-size: 14px;
    width: 210px;
    float: left;
    display: inline;
    position: relative;
}

main {
    margin: auto auto;
    height: 960px;
    background-color: white;
    width: 960px;

    position: relative;
}
