@media (max-width: 960px) {
    header { /*toto */
        height: auto;
    }

    main{ /*toto podle veliksoti obsahu */
        padding-top: 600px;
    }


    #nav a { /*toto */
        /*display: none;*/

        float: none;
    }

    footer{
        width: 100%;
    }


    .full-width-wrapper, main { /* toto taky */
        width: 100%;
        margin: 0 auto;
    }


    #hero {/*toto smaze tu fotku velkou */
        display: none;
    }

}


@media print
{    
    footer, header
    {
        display: none;
    }
    main
    {
        padding: unset;
        margin: unset;
    }
}










